
@{
    ViewBag.Title = "User";
}




<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <!-- Grid Sectionfor User DIV and Compose -->
        <div class="row clearfix">

            <div class="col-md-12 col-md-offset-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Compose">

                </div><!-- /input-group -->
            </div><!-- /col-md-12 col-md-offset-6 -->


            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/img/profile.png" class="img-responsive" alt="">
                        <div>
                            <span class="name">radbrad</span>
                        </div>
                        <div>
                            <span class="followers"># of followers </span>
                        </div>

                    </a>
                </div>

            </div><!-- /.row -->
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-6">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">

                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/profile.png" class="img-responsive" alt="">
                    </a>
                <p>                 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis bibendum volutpat ante, quis facilisis dolor gravida eget. 
                    Fusce sodales diam sed porttitor consectetur. Aenean felis urna, viverra ut pretium in, blandit quis est. Duis et lorem dapibus,
                     pellentesque erat at, rutrum elit. Mauris ac ipsum diam. Morbi vel purus ultrices tortor vulputate scelerisque convallis sed purus.
                     Proin ac nulla consectetur, pharetra risus ut, condimentum mi. Sed euismod est leo, eget vestibulum diam laoreet ac. 
                </p>

                <div>
                    <span class="glyphicon-retweet"></span><span class="glyphicon-share"></span>

                </div>
            </div>
        </div>





        <div class="row">
            <div class="col-md-12">
                <h3>Today's Tweets</h3>
                <div id="Tweets">
                    <ul>
                        <li>tweet one</li>
                        <li>tweet two</li>
                        <li>twwet three </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>



